@import url(reset.css);

// html{
// 	box-sizing: border-box;
// 	background-color: white;
// 	font-size: 14px;
// 	font-family: 'Helvetica';
// 	color: black;
// 	body{
// 		.mobile-nav{
// 			width: 100%;
// 			min-height: 50px;
// 			// border-bottom: 1px solid #d6d6d6;
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			z-index: 9999;
// 			display: none;
// 			.logo{
// 				width: 195px;
// 			    height: 50px;
// 			    background-image: url(../img/logo.png);
// 			    background-size: contain;
// 			    margin: auto;
// 			    background-repeat: no-repeat;
// 			    @media screen and (min-width: 768px){
// 			    	float: left;
// 			    }
// 			}
// 			.menu{
// 				display: flex;
// 				.menu-item{
// 					display: inline-block;
// 					padding: 13px;
// 					font-size: 16px;
// 					flex: 1;
// 					text-align: center;
// 					color: black;
// 					// &:visited{
// 					// 	color: black;
// 					// }
// 					&:hover{
// 						color: orange;
// 					}
// 				}
// 				.active{
// 					color: orange;
// 					border-bottom: 3px solid orange;
// 				}
// 				@media screen and (min-width: 768px){
// 			    	float: right;	
// 			    	width: 300px;
// 			    }
// 			}
// 		}//nav
// 		.track{
// 			position: absolute;
// 			width: 80px;
// 			height: 1471px;
// 			left: 50%;
// 			margin-left: -40px;
// 			background-image: url(../img/dash.png);
// 			background-size: contain;
// 			background-repeat-y: repeat;
// 			.ball{
// 				position: fixed;
// 				top: 350px;
// 				left: 50%;
// 				width: 60px;
// 				height: 60px;
// 				margin-left: -30px;
// 				img{
// 					width: 100%;
// 				}
// 			}//ball
// 		}//track
// 		.banner{
// 			position: relative;
// 			height: 450px;
// 			width: 100%;
// 			background-color: gray;
// 			z-index: 100;
// 		}//banner
// 		.container{
// 			background-color: #ffe5d2;
// 			width: 100%;
// 			padding: 20px 0px;
// 			&:after{
// 				content: '';
// 				width: 100%;
// 				display: block;
// 				clear: both;
// 			}
// 			.content{
// 				width: 90%;
// 				margin: auto;
// 				max-width: 705px;
// 				.box{
// 					width: 90%;
// 					margin: auto;
// 					max-width: 350px;
// 					border: 1px solid black;
// 					border-radius: 10px;
// 					min-height: 150px;
// 					margin-bottom: 20px;
// 					background-color: white;
// 					@media screen and (min-width: 768px){
// 						margin:0;
// 						max-width: 265px;
// 						@media screen and (min-width: 992px){

// 						}
// 					}
// 				}//box
// 				.left{
// 					@media screen and (min-width: 768px){
// 						// margin-left: -420px;
// 						// margin-right: 200px;
// 						float: left;
// 						margin-bottom: 175px;
// 						clear: both;
// 					}
// 				}
// 				.right{
// 					@media screen and (min-width: 768px){
// 						float: right;
// 						margin-top: 145px;
// 					}
// 				}
// 			}//content
// 			@media screen and (min-width: 768px){
				
// 			}
// 		}//container
// 		#process{
// 			display: none;
// 			video{
// 				display: block;
// 				border: 1px solid black;
// 				margin: auto;
// 				margin-bottom: 20px;
// 			}
// 			.left{
// 				@media screen and (min-width: 768px){
// 					margin-bottom: 175px;
// 					clear: both;
// 				}
// 			}
// 			.right{
// 				@media screen and (min-width: 768px){
// 					float: right;
// 					margin-top: 145px;
// 				}
// 			}
// 		}
// 		footer{
// 			width: 100%;
// 			height: 200px;
// 			background-color: gray;
// 		}
// 	}
// }

$blue: #2E94B9;

html{
	box-sizing: border-box;
	background-color: white;
	font-size: 14px;
	font-family: 'Helvetica';
	color: black;
	body{
		background:transparent url('../img/bg.png') left top repeat;
		// .mobile-nav{
		// 	display: none;
		// }
		.track{
			display: none;
		}
		header{
			width: 100%;
			height: 655px;
			background-color: $blue;
			.banner{
				position: relative;
				width: 1080px;
				margin: auto;
				height: 100%;
				background-image: url(../img/marble_table.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 10px;
				.int-nav{
					width: 100%;
					height: 115px;
					img{
						float: left;
						width: 409px;
						margin-top: 20px;
					}
					.menu{
						float: right;
						display: flex;
						margin-top: 20px;
						.menu-item{
							display: inline-block;
							padding: 13px;
							font-size: 16px;
							flex: 1;
							text-align: center;
							color: white;
							float: right;
							// &:visited{
							// 	color: black;
							// }
							&:hover{
								border-bottom: 3px solid white;
							}
						}//menu-item
					}
					.active{
						color: white;
						border-bottom: 3px solid white;
					}//active
				}//int-nav
				.ball{
					position: absolute;
					right: 95px;
					bottom: 100px;
					img{
						width: 60px;
					}
				}
			}//banner
		}//header
		#history{
			.content{
				width: 1080px;
				margin: auto;
				padding: 150px 33px;
				height: 3200px;
				.box{
					width: 373px;
					background-color: white;
					border-radius: 22px;
					padding: 2%;
					box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3); 
				}
				.left{
					float: left;
					clear: both;
				}
				.right{
					float: right;
					//clear: both;
				}
				.p1{
					width: 83px;
					margin-left: 364px;
    				margin-top: -78px;
					img{
						width: 100%;
					}
				}
				.p2{
					width: 287px;
					margin-left: 115px;
					img{
						width: 100%;
					}
				}
				.p3{
					width: 374px;
					img{
						width: 100%;
					}
				}
				.p4{
					width: 432px;
					img{
						width: 100%;
					}
				}
				.p5{
					width: 373px;
					img{
						width: 100%;
					}
				}
				.p6{
					width: 369px;
					img{
						width: 100%;
					}
				}
				.p7{
					width: 499px;
					img{
						width: 100%;
					}
				}
				.h3{
					margin-top: 127px;
				}
				.h12{
					position: relative;
					&:after{
						content: ' ';
						position: absolute;
						width: 100%;
						clear: both;
						top: 20px;
					}
				}
			}
		}
		#process{
			display: none;
		}
	}
}














