@import url(reset.css);
@keyframes play {
  0% {
    transform: translate(-113px, -174px); }
  5% {
    transform: translate(-113px, -555px); }
  15% {
    transform: translate(-643px, -555px); }
  20% {
    transform: translate(-643px, -443px); }
  25% {
    transform: translate(-489px, -402px); }
  30% {
    transform: translate(-579px, -287px); }
  32% {
    transform: translate(-573px, -274px); }
  35% {
    transform: translate(-605px, -213px); }
  36% {
    transform: translate(-623px, -217px); }
  39% {
    transform: translate(-573px, -274px); }
  42% {
    transform: translate(-635px, -204px); }
  45% {
    transform: translate(-608px, -147px); }
  48% {
    transform: translate(-598px, -147px); }
  51% {
    transform: translate(-608px, -147px); }
  60% {
    transform: translate(-565px, -74px); }
  65% {
    transform: translate(-536px, 19px); }
  70% {
    transform: translate(-562px, 84px);
    opacity: 1; }
  100% {
    transform: translate(-562px, 84px);
    opacity: 0; } }
html {
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
  font-family: 'Helvetica';
  color: black; }
  html body {
    background: transparent url("../img/bg.png") left top repeat; }
    html body .scroll-nav {
      width: 100%;
      height: 65px;
      background-color: white;
      position: fixed;
      z-index: 9999; }
      html body .scroll-nav .nav-frame {
        width: 1080px;
        margin: auto; }
        html body .scroll-nav .nav-frame .logo {
          width: 254px;
          float: left;
          margin-top: 5px; }
        html body .scroll-nav .nav-frame .menu {
          float: right;
          display: flex; }
          html body .scroll-nav .nav-frame .menu .menu-item {
            flex: 1;
            font-size: 17px;
            color: #2E94B9;
            padding: 19px; }
          html body .scroll-nav .nav-frame .menu .active {
            border-bottom: 5px solid #2E94B9; }
    html body .track {
      width: 100px;
      position: absolute;
      left: 50%;
      top: 655px;
      height: 3100px;
      margin-left: -50px;
      background-image: url(../img/dash.png);
      background-repeat: repeat-y;
      background-size: contain; }
      html body .track .ball {
        position: fixed;
        top: 50%;
        left: calc(50% - 30px); }
        html body .track .ball img {
          width: 60px; }
    html body header {
      width: 100%;
      height: 655px;
      background-color: #2E94B9; }
      html body header .banner {
        position: relative;
        width: 1080px;
        margin: auto;
        height: 100%;
        background-image: url(../img/marble_table.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 10px; }
        html body header .banner .int-nav {
          width: 100%;
          height: 115px; }
          html body header .banner .int-nav img {
            float: left;
            width: 409px;
            margin-top: 20px; }
          html body header .banner .int-nav .menu {
            float: right;
            display: flex;
            margin-top: 20px; }
            html body header .banner .int-nav .menu .menu-item {
              display: inline-block;
              padding: 13px;
              font-size: 16px;
              flex: 1;
              text-align: center;
              color: white;
              float: right; }
              html body header .banner .int-nav .menu .menu-item:hover {
                border-bottom: 3px solid white; }
          html body header .banner .int-nav .active {
            color: white;
            border-bottom: 3px solid white; }
        html body header .banner .ball {
          position: absolute;
          right: 95px;
          bottom: 100px; }
          html body header .banner .ball img {
            width: 60px; }
        html body header .banner .animation {
          transform: translate(-450px, 87px);
          animation-name: play;
          animation-duration: 5s;
          animation-iteration-count: 1;
          transition-timing-function: linear; }
        html body header .banner .drop-place {
          position: absolute;
          right: 202px;
          bottom: 268px;
          width: 74px;
          height: 74px;
          border-radius: 37px; }
        html body header .banner .drop-place-hint {
          background-color: white;
          opacity: 0.1; }
    html body #history .content {
      width: 1080px;
      margin: auto;
      padding: 150px 33px;
      height: 2800px; }
      html body #history .content .box {
        width: 373px;
        background-color: white;
        border-radius: 22px;
        padding: 2%;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3); }
      html body #history .content .left {
        float: left;
        clear: both; }
      html body #history .content .right {
        float: right; }
      html body #history .content .p1 {
        width: 83px;
        margin-left: 364px;
        margin-top: -78px; }
        html body #history .content .p1 img {
          width: 100%; }
      html body #history .content .p2 {
        width: 287px;
        margin-left: 115px; }
        html body #history .content .p2 img {
          width: 100%; }
      html body #history .content .p3 {
        width: 374px;
        margin-top: 140px;
        margin-right: 60px; }
        html body #history .content .p3 img {
          width: 100%; }
      html body #history .content .p4 {
        width: 432px;
        margin-top: 190px; }
        html body #history .content .p4 img {
          width: 100%; }
      html body #history .content .p5 {
        width: 373px;
        margin-top: -125px; }
        html body #history .content .p5 img {
          width: 100%; }
      html body #history .content .p6 {
        width: 369px;
        margin-top: 145px; }
        html body #history .content .p6 img {
          width: 100%; }
      html body #history .content .p7 {
        width: 499px;
        margin-top: 145px; }
        html body #history .content .p7 img {
          width: 100%; }
      html body #history .content .h3 {
        margin-top: 127px; }
      html body #history .content .h4 {
        margin-top: -85px; }
      html body #history .content .h5 {
        margin-top: 85px; }
      html body #history .content .h6 {
        margin-top: 170px; }
      html body #history .content .h7 {
        margin-top: -38px; }
      html body #history .content .h8 {
        margin-top: 107px; }
      html body #history .content .h9 {
        margin-top: 300px; }
      html body #history .content .h10 {
        margin-top: 190px; }
      html body #history .content .h11 {
        margin-top: 120px; }
      html body #history .content .h12 {
        margin-top: -180px; }
    html body #process {
      display: none; }
      html body #process .content {
        width: 920px;
        margin: auto;
        padding: 50px 0;
        height: 2200px; }
        html body #process .content .left {
          float: left;
          margin-bottom: 175px;
          clear: both;
          box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3); }
        html body #process .content .right {
          float: right;
          margin-top: 145px;
          box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=style.css.map */
