@import url(reset.css);
@import url(animate.min.css);
@keyframes play {
  0% {
    transform: translate(-113px, -174px);
  }
  5% {
    transform: translate(-113px, -555px);
  }
  15% {
  	transform: translate(-643px, -555px);
  }
  20%{
  	transform: translate(-643px, -443px);
  }
  25%{
  	transform: translate(-489px, -402px);
  }
  30%{
  	transform: translate(-579px, -287px);
  }
  32%{
  	transform: translate(-573px, -274px);
  }
  35%{
  	transform: translate(-605px, -213px);
  }
  36%{
  	transform: translate(-623px, -217px);
  }
  39%{
  	transform: translate(-573px, -274px);
  }
  42%{
  	transform: translate(-635px, -204px);
  }
  45%{
  	transform: translate(-608px, -147px);
  }
  48%{
  	transform: translate(-598px, -147px);
  }
  51%{
  	transform: translate(-608px, -147px);
  }
  60%{
  	transform: translate(-565px, -74px);
  }
  65%{
  	transform: translate(-536px, 19px);
  }
  70%{
  	transform: translate(-562px, 84px);
  	opacity: 1;
  }
  100%{
  	transform: translate(-562px, 84px);
  	opacity: 0;
  }
}

@keyframes shining {
  0% {  opacity: 0.7; box-shadow: 0 0 30px white;; }
  50% {   opacity: 1; box-shadow: 0 0 30px white; }
  100% {  opacity: 0.7; box-shadow: 0 0 30px white;; }   
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

$blue: #2E94B9;
$red: #FD5959;

html{
	box-sizing: border-box;
	background-color: white;
	font-size: 14px;
	font-family: 'Helvetica';
	color: black;
	body{
		background:transparent url('../img/bg.png') left top repeat;
		.track{
			width: 100px;
			position: absolute;
			left: 50%;
			top: 655px;
			height: 3100px;
			margin-left: -50px;
			background-image: url(../img/dash.png);
			background-repeat: repeat-y;
			background-size: contain;
			.ball{
				position: fixed;
				top: 50%;
				left: calc(50% - 30px);
				img{
					width: 60px;
				}
			}
		}
		header{
			width: 100%;
			height: 655px;
			background-color: $blue;
			.banner{
				position: relative;
				width: 1080px;
				margin: auto;
				height: 100%;
				background-image: url(../img/marble_table.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 10px;
				.int-nav{
					width: 100%;
					height: 115px;
					img{
						float: left;
						width: 409px;
						margin-top: 20px;
					}
					.menu{
						float: right;
						display: flex;
						margin-top: 20px;
						.menu-item{
							display: inline-block;
							padding: 13px;
							font-size: 16px;
							flex: 1;
							text-align: center;
							color: white;
							float: right;
							// &:visited{
							// 	color: black;
							// }
							&:hover{
								border-bottom: 3px solid white;
							}
						}//menu-item
					}//menu
					.active{
						color: white;
						border-bottom: 3px solid white;
					}//active
				}//int-nav
				.scroll-nav{
					// display: none;
					width: 100%;
					height: 65px;
					background-color: white;
					position: fixed;
					left: 0;
					z-index: 9999;
					.nav-frame{
						width: 1080px;
						margin: auto;
						.logo{
							width: 254px;
							float: left;
							margin-top: 5px;
						}
						.menu{
							float: right;
							display: flex;
							margin-top: 0;
							.menu-item{
								flex: 1;
								font-size: 17px;
								color: $blue;
								padding: 19px;
								&:hover{
									border-bottom: 5px solid $blue;
								}
							}
							.active{
								border-bottom: 5px solid $blue;
							}//active
						}
					}
				}
				.drag{
					position: absolute;
					width: 100px;
					right: 0px;
					bottom: 150px;
					animation-name: pulse;
					animation-duration: 1s;
					animation-iteration-count: infinite;
				}
				.drop{
					position: absolute;
					width: 154px;
					right: 27px;
					bottom: 300px;
					animation-name: pulse;
					animation-duration: 1s;
					animation-iteration-count: infinite;
				}
				.ball{
					position: absolute;
					right: 95px;
					bottom: 100px;
					cursor: pointer;
					&:hover{
						transform: scale(1.1);
						transition: transform 0.1s linear;
					}
					img{
						width: 60px;
					}
				}//ball
				.animation{
					transform: translate(-450px, 87px);
				    animation-name: play;
				    animation-duration: 5s;
				    animation-iteration-count: 1;
				    transition-timing-function: linear;
				}
				.drop-place{
					position: absolute;
				    right: 202px;
				    bottom: 268px;
				    width: 74px;
				    height: 74px;
				    border-radius: 37px;
				}
				.shining{
					animation-name: shining;
					animation-duration: 1s;
					animation-iteration-count: infinite;
				}
			}//banner
		}//header
		#history{
			.content{
				width: 1080px;
				margin: auto;
				padding: 150px 33px;
				height: 2800px;
				.box{
					width: 373px;
					background-color: white;
					border-radius: 22px;
					padding: 2%;
					box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
				}
				.left{
					float: left;
					clear: both;
				}
				.right{
					float: right;
					// clear: both;
				}
				.p1{
					width: 83px;
					margin-left: 364px;
    				margin-top: -78px;
					img{
						width: 100%;
					}
				}
				.p2{
					width: 287px;
					margin-left: 115px;
					img{
						width: 100%;
					}
				}
				.p3{
					width: 374px;
					margin-top: 140px;
    				margin-right: 60px;
					img{
						width: 100%;
					}
				}
				.p4{
					width: 432px;
					margin-top: 190px;
					img{
						width: 100%;
					}
				}
				.p5{
					width: 373px;
					margin-top: -125px;
					img{
						width: 100%;
					}
				}
				.p6{
					width: 369px;
					margin-top: 145px;
					img{
						width: 100%;
					}
				}
				.p7{
					width: 499px;
					margin-top: 145px;
					img{
						width: 100%;
					}
				}
				.h3{
					margin-top: 127px;
				}
				.h4{
					margin-top: -85px;
				}
				.h5{
					margin-top: 85px;
				}
				.h6{
					margin-top: 170px;
				}
				.h7{
					margin-top: -38px;
				}
				.h8{
					margin-top: 107px;
				}
				.h9{
					margin-top: 300px;
				}
				.h10{
					margin-top: 190px;
				}
				.h11{
					margin-top: 120px;
				}
				.h12{
					margin-top: -180px;
				}
			}
		}
		#process{
			display: none;
			.content{
				width: 920px;
				margin: auto;
				padding: 50px 0;
				height: 2200px;
				.left{
					float: left;
					margin-bottom: 175px;
					clear: both;
					box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
				}
				.right{
					float: right;
					margin-top: 145px;
					box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
}














